{
  "parser":"babel-eslint",
  "env":{
    "browser":true,
    "es6":true,
    "node":true
  },
  "parserOptions":{
    "ecmaVersion":6,
    "sourceType":"module"
  },
  "extends":"airbnb",
  "rules":{
    "semi":[0],
    "react/prefer-stateless-function":[0],
    "space-before-function-paren":[0],
    "react/jsx-filename-extension":[0],
    "comma-dangle":[0],
    "jsx-quotes":[0],
    "padded-blocks":[0],
    "no-trailing-spaces":[0],
    "lines-between-class-members":[0],
    "no-console":[0],
    "react/require-default-props":[0]

  }
}