{
    "presets":[
        ["es2015",{"loose":true}], // 松散的 非严格
        "stage-1",// 为了使用装饰器
        "react"
    ],
    "plugins":["transform-decorators-legacy","react-hot-loader/babel"] // 使用babel的情况下使用热更新的功能
}